.eventForm input
{
    width:20%;
    margin-top: 10px;
}
.eventForm div
{
    display:inline-block;
    width: 200px;
    text-align: left;
}
.eventForm
{
   text-align: center;
   margin-top: 130px;
}

.btn-primary{
    margin-top: 20px;
    margin-right: 20px;
}
.btn-danger{
    margin-top: 20px;
}
